.mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 2rem;
    /* background-color:rgba(255, 255, 255, 0.5); */
    backdrop-filter: blur(8px);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 10px -15px;
    z-index: 100;
}

a{
    text-decoration: none;
    color: black;
}

.logoContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 18rem;
    height: 5rem;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.logo p {
    font-size: 0.8rem;
    font-weight: 600;
}

.logo img {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .menuNav {

} */


.tabIsActive {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.7rem;
    color: crimson;
    border-bottom: 2px solid crimson;
    transition: 0.5s all ease-in-out;
}

.tabIsActive:hover {
    font-size: 1.3rem;
    font-weight: 700;
}

.tabIsNotActive {
    padding: 0.7rem;
    font-size: 1rem;
    color: rgb(65, 61, 61);
    transition: 0.5s all ease-in-out;
}

.tabIsNotActive:hover {
    color: crimson;
    font-size: 1.3rem;
    font-weight: 700;
}

.cartBtn {
    position: relative;
    top: 0.2rem;
    font-size: 1.2rem;
    margin-left: 3rem;
}

.cartBtn:hover {
    cursor: pointer;
}

.cartCount {
    position: absolute;
    top: -0.3rem;
    left: 0.7rem;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    background-color: red;
}

.cartCount p {
    font-size: 0.7rem;
    padding-top: 0.07rem;
    padding-left: 0.25rem;
}

.profileContainer {
    position: relative;
    cursor: pointer;
}

.profileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    border-radius: 50%;
    overflow: hidden;
}

.profileImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr {
    width: 6rem;
    margin: 0.5rem;
    margin-bottom: 0.2rem;
    border-top: 1px solid lightgray;
}

.profileNav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9rem;
    padding: 1rem;
    left: -7rem;
    top: 2.4rem;
    gap: 0.5rem;
    background-color:rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}

.linkHover:hover {
    font-weight: 600;
    color: crimson;
}

.logoutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    background-color: rgba(250, 107, 136, 0.856);
    border-radius: 0.7rem;
}

.logoutBtn:hover {
    background-color: crimson;
}

.loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 1rem;
    border-radius: 0.7rem;
    background: none;
    border: none;
    outline: none;
    
}

.loginBtn:hover {
    cursor: pointer;
    color: crimson;
    border-top: 1px solid crimson;
    border-bottom: 1px solid crimson;
    
}

